h1 {text-align: center;
background-color: blue;
text-decoration-line: underline;} 
#StyledImage {border-block: 100px;
            height: 100px;}
.AlignRight {text-align: right;}
.Padding {padding-block: 200px;}
