
/*
    Teal color (used for headings and backgrounds): #4aaaa5
    Regular font color (used for paragraphs and all text besides the headings): #777777
    Main header background color: #ffffff
    Main header border color: #cccccc
    Footer background color: #666666
    Main content background color: #ffffff
    Main content border color: #dddddd
    For heading fonts use font-family: 'Georgia', Times, Times New Roman, serif;.
    For all other fonts use 'Arial', 'Helvetica Neue', Helvetica, sans-serif;.
    The entire content and the main section content area is 960px wide
 */
 .header {background color: #ffffff; border color: #cccccc; border style: solidcolor;}
 .myname {Background color: #4aaaa5; fontfamily: Georgia, Times, "Times New Roman", Times, serif; font color: #ffffff; }
 .content { background color: #ffffff; border color: #dddddd; border style: solidcolor;}
.teal {background: #4aaaa5;}
.regularfont {font color: #777777 ; font family: Arial, Helvetica, "Helvetica Neue", sans-serif;}
.tealfont {font color: #4aaaa5; font family: Georgia, Times, "Times New Roman", serif;}
.whitefont {font color: #ffffff;font family: Georgia, Times, "Times New Roman", serif;}
.footer {background color: #666666; Border color: #dddddd; border style: solidcolor; }


* {box-sizing: border-box;
}
body {font-size: 18px;
      line-height: 34 px;
      font family: Arial, Helvetica, "Helvetica Neue", sans-serif;
      font color: #777777}